<div class="container" ng-app="igralecapp">
    <div ng-view></div>
</div>

@section scripts{
    <script src="@Links.Scripts.angular_js"></script>
    <script src="@Links.Scripts.app.igralecapp_js"></script>
}