<form class="form-horizontal" name="igralecForm">
    <fieldset>
        <legend>Igralec</legend>
        <div class="control-group" ng-class="{error: igralecForm.ImePriimek.$invalid}">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" name="ImePriimek" ng-model="player.ImePriimek" required>
                <span ng-show="igralecForm.ImePriimek.$error.required" class="help-inline">Polje ne sme biti prazno!</span>
            </div>
        </div>

        <div class="control-group" ng-class="{error: igralecForm.Email.$invalid}">
            <label class="control-label">Email</label>
            <div class="controls">
                <input type="email" name="Email" ng-model="player.Email" required>
                <span ng-show="igralecForm.Email.$error.required" class="help-inline">Polje ne sme biti prazno!</span>
                <span ng-show="igralecForm.Email.$error.email" class="help-inline">Ni v obliki emaila!</span>
            </div>
        </div>
    </fieldset>

    <div class="form-actions">
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || igralecForm.$invalid" class="btn btn-primary">Save</button>
        <button ng-click="destroy()" ng-show="player.id" class="btn btn-danger">Delete</button>
    </div>
</form>